@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
}

/* img, video
{
  max-width: 100%;
  height: 477px;
  width: 477px;
} */

.merchPic {
    height: 477px;
    width: 477px;
}

/* @media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
    /* Styles for mobile screens 
} 

/* CSS HEX 
Band Photo
--mexican-pink: #DA1279ff;
--penn-blue: #151D52ff;
--melon: #F2A7A8ff;
--russian-violet: #241742ff;
--razzmatazz: #E53179ff;
--tufts-blue: #398FD4ff;
--pumpkin: #FA6A0Aff;
*/

/* CSS HEX 
Album Cover
--grape: #7215A9ff;
--celestial-blue: #2195C8ff;
--bistre: #28170Dff;
--van-dyke: #42332Aff;
--deep-sky-blue: #1FBEFDff;
*/