@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS HEX 
Band Photo
--marian-blue: #38377Dff;
--rose-quartz: #BAA1B6ff;
--mexican-pink: #DA1279ff;
--russian-violet: #241742ff;
--vivid-sky-blue: #38CFFFff;
--pumpkin: #FE6A11ff;
*/

/* CSS HEX 
Album Cover
--grape: #7215A9ff;
--celestial-blue: #2195C8ff;
--bistre: #28170Dff;
--van-dyke: #42332Aff;
--deep-sky-blue: #1FBEFDff;
*/